/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*=========================
        HEADER
=========================*/
nav div div.navbar-header { float: none; }

nav div div.navbar-header a.navbar-brand { padding: 0% 1% 0% 0%; }

nav div div.navbar-header a.navbar-brand>img { height: 100%; }

nav div div.navbar-header a.btn.btn-default.navbar-btn {
  color: #428bca;
  text-decoration: none;
}

nav div div.navbar-header a.btn.btn-default.navbar-btn:hover { color: #428bca; }

/*=========================
      THUMBNAIL
=========================*/
div.row div.col-sm-6.col-md-4 {
  width: 100%;
  text-align: center;
}

div.row div.col-sm-6.col-md-4 div.thumbnail {
  display: inline-block;
  height: 370px;
  vertical-align: top;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 250px;
}

div.row div.col-sm-6.col-md-4 div.thumbnail div.caption { text-align: left; }

div.row div.col-sm-6.col-md-4 div.thumbnail div.caption span {
  font-weight: bold;
  display: inline;
}

div.row div.col-sm-6.col-md-4 div.thumbnail div.caption p#like {
  font-weight: bold;
  display: inline;
}

div.row div.col-sm-6.col-md-4 div.thumbnail div.caption h3 {
  margin-top: 3%;
  padding-right: 15px;
  display: inline-block;
}

div.row div.col-sm-6.col-md-4 div.thumbnail div.caption a.btn.btn-primary { margin-top: 4px; }
